<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="card w-full max-w-md shadow-lg bg-white rounded-lg">
    <div class="card-body">
      <div class="mb-6 text-center">
        <span class="text-3xl font-bold text-gray-800">
          ログイン
        </span>
      </div>

      <div class="flex flex-wrap justify-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full" }, data: { turbo: false }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="mb-4">
            <%= f.label :email, class: "block text-sm font-medium text-gray-600 mb-1" %>
            <%= f.email_field :email, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder-gray-400 focus:border-indigo-500 focus:ring-indigo-100 focus:outline-none" %>
          </div>

          <div class="mb-4">
            <%= f.label :password, class: "block text-sm font-medium text-gray-600 mb-1" %>
            <%= f.password_field :password, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder-gray-400 focus:border-indigo-500 focus:ring-indigo-100 focus:outline-none" %>
          </div>

          <div class="mt-4 flex justify-center">
            <%= f.submit 'ログイン', class: "w-32 rounded-md bg-indigo-500 py-3 text-white font-bold hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-1000" %>
          </div>
        <% end %>
      </div>

      <div class="mt-6 text-center">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
