<div class="card bg-base-100 shadow-xl p-6 max-w-md mx-auto">
  <div class="card-body p-0">
    <h2 class="card-title text-center mb-4">アカウント操作</h2>
    
    <div class="space-y-3">
      <%- if controller_name != 'sessions' %>
        <%= link_to new_session_path(resource_name), class: "btn btn-primary btn-block" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
          </svg>
          ログイン
        <% end %>
      <% end %>
      
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to new_registration_path(resource_name), class: "btn btn-outline btn-secondary btn-block" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
          </svg>
          新規登録
        <% end %>
      <% end %>
    </div>
    
    <div class="divider my-4">その他のオプション</div>
    
    <div class="space-y-2">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to new_password_path(resource_name), class: "link link-hover flex items-center text-sm text-base-content/70" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
          </svg>
          パスワードを忘れた場合
        <% end %>
      <% end %>
      
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to new_confirmation_path(resource_name), class: "link link-hover flex items-center text-sm text-base-content/70" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          確認メールが届きませんか？
        <% end %>
      <% end %>
      
      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to new_unlock_path(resource_name), class: "link link-hover flex items-center text-sm text-base-content/70" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
          </svg>
          ロック解除メールが届きませんか？
        <% end %>
      <% end %>
    </div>
  </div>
</div>