<header>
  <nav class="navbar bg-[#98FB98]">
    <div class="max-w-screen-xl w-full flex items-center justify-between mx-auto p-4">
      <%= link_to 'SuppleHub', "#", class: 'text-2xl font-semibold text-white' %>
      <!-- ナビゲーションリンク -->
      <div class="dropdown md:hidden">
        <label tabindex="0" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu dropdown-content mt-3 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to '投稿一覧', "#" %></li>
          <li><%= link_to '新規登録', "#" %></li>
          <li><%= link_to 'ログイン', "#" %></li>
        </ul>
      </div>
      <div class="hidden md:flex space-x-4">
        <%= link_to '投稿一覧', "#", class: 'btn btn-link text-gray-900 dark:text-white' %>
        <%= link_to '新規登録', "#", class: 'btn btn-link text-gray-900 dark:text-white' %>
        <%= link_to 'ログイン', "#", class: 'btn btn-link text-gray-900 dark:text-white' %>
      </div>
    </div>
  </nav>
</header>

