<header>
  <nav class="bg-[#98FB98]">
    <div class="navbar max-w-full mx-auto px-4">
      <!-- ロゴ -->
      <div class="navbar-start">
        <%= link_to 'SuppleHub', posts_path, class: 'text-2xl text-white font-bold' %>
      </div>
      <!-- ナビゲーションリンク -->
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal space-x-4">
          <li><%= link_to '投稿一覧', posts_path, class: 'text-white hover:text-blue-500' %></li>
          <li><%= link_to 'サプリ管理一覧', "#", class: 'text-white hover:text-blue-500' %></li>
          <li><%= link_to 'プロフィール', user_path(current_user), class: 'text-white hover:text-blue-500' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'text-white hover:text-blue-500' %></li>
        </ul>
      </div>
      <!-- ハンバーガーメニュー -->
      <div class="navbar-end lg:hidden">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </label>
          <ul tabindex="0" class="menu dropdown-content mt-2 shadow bg-base-100 rounded-box w-52">
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to 'サプリ管理一覧', "#" %></li>
            <li><%= link_to "プロフィール", user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
