<div class="mb-6 text-center">
  <span class="text-3xl font-bold">投稿詳細</span>
</div>

<div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
  <div class="mb-6">
    <h2 class="text-lg font-semibold text-gray-700">
      サプリ画像
    </h2>
    <% if @post.supple_image.present? %>
      <%= image_tag @post.supple_image_url, class: "w-full h-72 object-cover" %>
    <% else %>
      <%= image_tag "No_Image.png" %>
    <% end %>
  </div>

  <div class="mb-4">
    <h2 class="text-lg font-semibold text-gray-700">
      サプリ名
    </h2>
    <p class="text-gray-600 mt-1">
      <%= @post.supplecategory.name %>
    </p>
  </div>

  <div class="mb-4">
    <h2 class="text-lg font-semibold text-gray-700">
      効果
    </h2>
    <p class="text-gray-600 mt-1">
      <%= @post.effect %>
    </p>
  </div>

  <div class="mb-4">
    <h2 class="text-lg font-semibold text-gray-700">
      副作用
    </h2>
    <p class="text-gray-600 mt-1">
      <%= @post.side_effect %>
    </p>
  </div>

  <!-- ボタン -->
  <div class="p-3 flex justify-end space-x-1">
    <%= link_to '編集', edit_post_path(@post), class: "btn bg-[#98FB98] text-blue-500 hover:underline" %>
    <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn bg-[#98FB98] text-red-500 hover:underline" %>
  </div>
  <div class="p-3 flex justify-center">
  <%= link_to '一覧へ戻る', posts_path, class: "bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none" %>
</div>
</div>


