<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SuppleHub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <% if user_signed_in? %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QE43LWLLGQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QE43LWLLGQ');
    </script>
  </head>

  <body class="flex flex-col min-h-screen" data-controller="loading">
    <div data-loading-target="spinner" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40 hidden">
        <div class="h-[150px] w-[150px] flex items-center justify-center">
          <span class="loading loading-bars text-default bg-[#90EE90] w-full h-full"></span>
        </div>
      </div>

    
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>  
    <% end %>
     <main class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
